.header-darkgrey {
  color: #494949;
  padding: 40px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

.subheader-teal-h1 {
  color: #008080;
  padding: 0px;
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}

.subheader-teal-h2 {
  color: #008080;
  padding: 0px;
  font-size: 15px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}

.label-darkgrey-h3 {
  color: #2e2e2e;
  padding-top: 20px;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}

.label-darkgrey-p1 {
  color: #2e2e2e;
  padding-top: 1px;
  font-size: 12px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: left;
}



/* Button styles */
.button-greenBg-whiteText {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}

.button-tealBg-whiteText {
  background-color: #96FAFF;
  border: none;
  color: #008080;
  padding: 12px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 8px;
}